# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
.angular/cache/19.1.7/loja-jamis/.tsbuildinfo
.angular/cache/19.1.7/loja-jamis/angular-compiler.db
.angular/cache/19.1.7/loja-jamis/angular-compiler.db-lock
.angular/cache/19.1.7/loja-jamis/vite/deps/_metadata.json
.angular/cache/19.1.7/loja-jamis/vite/deps/@angular_common.js
.angular/cache/19.1.7/loja-jamis/vite/deps/@angular_common.js.map
.angular/cache/19.1.7/loja-jamis/vite/deps/@angular_core.js
.angular/cache/19.1.7/loja-jamis/vite/deps/@angular_core.js.map
.angular/cache/19.1.7/loja-jamis/vite/deps/@angular_platform-browser.js
.angular/cache/19.1.7/loja-jamis/vite/deps/@angular_platform-browser.js.map
.angular/cache/19.1.7/loja-jamis/vite/deps/@angular_router.js
.angular/cache/19.1.7/loja-jamis/vite/deps/@angular_router.js.map
.angular/cache/19.1.7/loja-jamis/vite/deps/chunk-NUJC36I4.js
.angular/cache/19.1.7/loja-jamis/vite/deps/chunk-NUJC36I4.js.map
.angular/cache/19.1.7/loja-jamis/vite/deps/chunk-Q4VQLBQG.js
.angular/cache/19.1.7/loja-jamis/vite/deps/chunk-Q4VQLBQG.js.map
.angular/cache/19.1.7/loja-jamis/vite/deps/chunk-VDQRFNTW.js
.angular/cache/19.1.7/loja-jamis/vite/deps/chunk-VDQRFNTW.js.map
.angular/cache/19.1.7/loja-jamis/vite/deps/chunk-YHL4WDBZ.js
.angular/cache/19.1.7/loja-jamis/vite/deps/chunk-YHL4WDBZ.js.map
.angular/cache/19.1.7/loja-jamis/vite/deps/ngx-owl-carousel-o.js
.angular/cache/19.1.7/loja-jamis/vite/deps/ngx-owl-carousel-o.js.map
.angular/cache/19.1.7/loja-jamis/vite/deps/package.json
.angular/cache/19.1.7/loja-jamis/vite/deps_ssr/_metadata.json
.angular/cache/19.1.7/loja-jamis/vite/deps_ssr/package.json
