<section class="min-h-screen bg-beige-200 p-8">
  <div class="max-w-5xl mx-auto">
    <h2 class="text-3xl font-bold mb-8">Molde digital</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
      <div *ngFor="let product of products" class="bg-white p-4 rounded shadow">
        <img [src]="product.image" [alt]="product.name" class="mb-4 w-full rounded">
        <h3 class="font-bold text-lg">{{ product.name }}</h3>
        <p class="text-gray-700">{{ product.price === 0? 'GRÁTIS' : "R$ " + (product.price | number:'1.2-2') }}</p>
        <a [routerLink]="['/product', product.id]" class="mt-2 inline-block bg-wine-500 text-white px-4 py-2 rounded shadow hover:bg-vinho-600">
          Ver Detalhes
        </a>
      </div>
    </div>
  </div>
</section>
